<a href="https://colab.research.google.com/github/Aditya0721/Recommender/blob/master/Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **# The main idea behind the generation of the Recommendation system is to recommend posts using both Collaborative and Content Based Filtering Methods. For Collaborative based filtering we will find out all the categories and find the cosine similarity using user-user collaborative filtering.**
```

# **DATA PREPROCESSING**

## Uploading the datasets and storing it in dataframes

In [0]:
import pandas as pd
from google.colab import files
import io

In [0]:
uploaded = files.upload()

Saving posts.csv to posts.csv
Saving users.csv to users.csv
Saving views.csv to views.csv

In [0]:
users_df = pd.read_csv('users.csv')
users_df.head()

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [0]:
posts_df = pd.read_csv('posts.csv')
posts_df.head()

                        _id  ...  post_type
0  5d62abaa65218653a132c956  ...       blog
1  5d6d39567fa40e1417a4931c  ...       blog
2  5d7d23315720533e15c3b1ee  ...       blog
3  5d7d405e5720533e15c3b1f3  ...    artwork
4  5d80dfbc6c53455f896e600e  ...       blog

[5 rows x 4 columns]

In [0]:
views_df = pd.read_csv('views.csv')
views_df.head()

                    user_id                   post_id                 timestamp
0  5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e  2020-06-01T10:46:45.131Z
1  5ed3748576027d35905ccaab  5ed4cbadbd514d602c1531a6  2020-06-01T09:39:20.021Z
2  5ed0defa76027d35905cc2de  5eac305f10426255a7aa9dd3  2020-06-01T08:12:42.682Z
3  5ed0defa76027d35905cc2de  5ed1ff0276027d35905cc60d  2020-06-01T08:10:23.880Z
4  5ed0defa76027d35905cc2de  5ed3820f76027d35905ccac8  2020-06-01T08:08:54.124Z

## DETAILS OF THE DATAFRAMES

In [0]:
users_df.describe()

                             _id               name gender      academics
count                        118                118    118            118
unique                       118                118      3              3
top     5e7b30a6cfc8b713f5ac7d95  Harishankar Dubey   male  undergraduate
freq                           1                  1     72             68

In [0]:
views_df.describe()

                         user_id  ...                 timestamp
count                       1449  ...                      1449
unique                       118  ...                      1449
top     5d60098a653a331687083238  ...  2020-04-06T17:50:28.504Z
freq                         230  ...                         1

[4 rows x 3 columns]

In [0]:
posts_df.describe()

                             _id             title     category  post_type
count                        493               493          465        493
unique                       493               477          231          4
top     5eb1407c10426255a7aa9fdb  PENCIL RENDERING  Photography    artwork
freq                           1                 3           81        241

**checking for null values**

In [0]:
users_df.isnull().any()

_id          False
name         False
gender       False
academics    False
dtype: bool

In [0]:
views_df.isnull().any()

user_id      False
post_id      False
timestamp    False
dtype: bool

In [0]:
posts_df.isnull().any()

_id           False
title         False
category       True
 post_type    False
dtype: bool

**we have got null values in the category column of the posts dataset**

**as its a categorical variable we have to fill the null values considering the title and post_type**

**counting total number of null values in posts_df**

In [0]:
posts_df['category'].isna().sum()

28

**finding title and post_type for all 28 null values**

In [0]:
posts_df[posts_df['category'].isna()]

                          _id  ...  post_type
24   5ddeb6e80eb5e25a8a07f065  ...    project
25   5de179d80eb5e25a8a07f079  ...    project
29   5dee9b5042a8854bf6eabaaf  ...    project
65   5e3ea110eab55d319938a7a7  ...    project
88   5e4c3873f5561b1994c8e3d9  ...    project
93   5e4da502f5561b1994c8e42c  ...    project
94   5e4da7c8f5561b1994c8e439  ...    project
95   5e4dab15f5561b1994c8e446  ...    project
96   5e4ed85af5561b1994c8e470  ...    project
97   5e4ed8ccf5561b1994c8e47d  ...    project
98   5e4edd1bf5561b1994c8e48a  ...    project
99   5e4edd87f5561b1994c8e497  ...    project
227  5e8c2d01a3258347b42f2627  ...    project
228  5e8c993da3258347b42f264d  ...    project
229  5e8cb88ea3258347b42f267e  ...    project
230  5e8cc876a3258347b42f26a3  ...    project
231  5e8ccfb5a3258347b42f26bc  ...    project
352  5ea5aacd10426255a7aa9b71  ...    project
353  5ea5ce9310426255a7aa9b8d  ...    project
374  5eaf3d4110426255a7aa9f4c  ...       blog
394  5eb1df6d10426255a7aaa029  ...    project
442  5eca8fceeaff6b0c3a58a3c0  ...    project
463  5ed0e31a76027d35905cc302  ...    project
464  5ed0e65976027d35905cc356  ...    project
465  5ed0f0c576027d35905cc3c7  ...    project
468  5ed175f176027d35905cc554  ...    project
469  5ed175f476027d35905cc562  ...    project
490  5ed3ef4cbd514d602c1530f2  ...    project

[28 rows x 4 columns]

**As we can see most of the null values are for the post_types project we will create a new category called project and assign it to the null values and when ever a user leaves the category field empty we will assign the category field same as the post_type as default**

In [0]:
posts_df[posts_df['category'].isna()]='project'

**As we have imputed the null values lets check again**

In [0]:
posts_df.isna().any()

_id           False
title         False
category      False
 post_type    False
dtype: bool

**Now lets see how many unique categories are present in the dataset**

In [0]:
posts_df['category'].unique()

array(['Plant Biotechnology',
       'Artificial Intelligence|Machine Learning|Information Technology',
       'Operating Systems', 'Drawings', 'Competition Laws', 'Eco System',
       'Economic Policies', 'Graphic|Graphic Design', 'Painting',
       'Pen and ink', 'Computer Technology|Information Technology',
       'Drawings|Painting',
       'Graphic Design|Visual Arts|Illustration|Graphic',
       'Drawings|Calligraphy', 'Photography', 'Empowerment', 'project',
       'Video editing', 'Inorganic Chemistry', 'Programming languages',
       'Conceptual|Graphic Design', 'HR Management',
       'Human Resources|HR Management',
       'Mass Media|International Relations', 'Sculptures|Artistic design',
       'Fashion Design|Ceramics|Artistic design', 'Craft|Artistic design',
       'Fashion Design|Visual Arts|Conceptual|Artistic design',
       'Photography|Fashion Design|Visual Arts|Graphic Design|Artistic design',
       'Fashion Design|Visual Arts|Graphic Design|Artistic design|Graphic|Illustration',
       'Mathematics|Linear Algebra',
       'Electronics & electrical Technology|Electrical Machines',
       'Auditing|Internal Audit', 'E Commerce|E Transactions',
       'Computer Technology|Computation',
       'Auditing|Internal Financial Control', 'Taxation|Custom Laws',
       'Auditing|Audit Evidence', 'Taxation|GST', 'Taxation|Direct Tax',
       'Auditing|Secratarial Audit', 'Banking|Banking Companies',
       'Banking|Banking Technology', 'Auditing|Audit Remark',
       'Auditing|Cost Audit', 'Auditing|Statuary Audit',
       'Computer Technology|Programming languages',
       'Legal Studies|Legal System', 'Sports Coaching|Sports Law',
       'Economics|Economics Sociology', 'Economics|Revenue Concept',
       'Human Rights|Rights and Duties',
       'Sociology|Sociology of Religion', 'Sociology|Sociology in India',
       'Political Science|International Politics',
       'Political Science|Colonialism In India',
       'Legal Studies|Labor Law',
       'Computer Technology|Design and Analysis of Algorithms|Programming languages',
       'Computer Technology|Computer Application|Programming languages|Information Technology',
       'Graphics|Computer Creation', 'E Commerce|Other Online Platforms',
       'Drawing', 'Drawings|Artistic design',
       'Drawings|Artistic design|Illustration',
       'E Commerce|Shopping Platform|Other Online Platforms',
       'Computer Technology|Hardware|Information Technology',
       'Computer Technology|Computation|Computer Application',
       'Business|Business Skills',
       'Computer Technology|Computer Application|Hardware|Information Technology',
       'Computer Technology|Computer Application',
       'Computer Technology|Mobile Applications',
       'Computer Technology|Computer Application|Operating Systems',
       'Computer Technology|Information Technology|Computer Application',
       'Computer Technology|Computer Application|Information Technology',
       'Communication|Basics of Communiaction',
       'Drawings|Painting|Visual Arts|Graphic Design|Prints|Illustration',
       'Drawings|Visual Arts|Painting|Graphic Design|Artistic design|Illustration',
       'Computer Technology|Artificial Intelligence',
       'Marketing|Advertising', 'Political Science|Political Thought',
       'Accounting|Fundamental Of Accounting', 'Mixed Media',
       'Management|Team Mangememnt',
       'Business|Corporate Social Responsibilities',
       'Philosophy|Applied Ethics',
       'Human Resources|Performance In Organization|Organizational Behaviour|HR Management',
       'Fashion Desigining|Fashion Textile|Fashion Manufacturing|Fashion Techniques|Garment Production|Garment Technology',
       'Marketing|Promotion And Distribution Decisions',
       'Biotechnology|Genetic Engineering', 'Physiology|Neurology',
       'Mass Media|Indian Government', 'Physiology|Osteology',
       'Physiology|Cardiology', 'Zoology|Ecology',
       'Computer Technology|Cloud Computing', 'Physiology|Radiology',
       'Computer Technology|Operating Systems',
       'Biotechnology|Molecular Biology',
       'Physiology|Gastroenterology|Cardiology', 'Philosophy|Logic',
       'Watercolours', 'Drawings|Watercolours', 'Mixed Media|Conceptual',
       'Drawings|Painting|Watercolours', 'Visual Arts', 'Conceptual',
       'Tapestry', 'Calligraphy',
       'Human Resources|Performance In Organization',
       'Computer Technology|Robotics|Data Science|Information Technology|Artificial Intelligence',
       'Philosophy|Public Philosophy', 'Digital Marketing',
       'Mass Media|Videography',
       'Drawings|Painting|Visual Arts|Artistic design|Watercolours|Acrylics',
       'Biotechnology|Plant Biotechnology',
       'Sports Coaching|Sports Event',
       'Political Science|Government and Politics',
       'Geography|Physical Geography', 'Computer Technology|Data Science',
       'Computer Technology|Machine Learning', 'Graphic Design',
       'Graphic Design|Visual Arts', 'Education',
       'Business|Business Organisation', 'Zoology|Environmental Biology',
       'Human Rights|Fundamental Rights',
       'Computer Technology|Design and Analysis of Algorithms',
       'Marketing|Marketing Management',
       'Accounting|Partnership Accounting|Corporate Accounting|Accounting Theory And Practices',
       'Legal Studies|Income Tax Laws',
       'Graphics|Articulation|Computer Creation',
       'Archeology|Human Prehistory',
       'Business|Start Ups|Entreperneurship|Business Strategies|Venture Capitalist|Business Planning',
       'Geography|Indian Geography',
       'E Commerce|Shopping Platform|Other Online Platforms|Digital India',
       'Business|Bio-entrepreneurship', 'Literature|Stories',
       'History|Indian History', 'ViDEO',
       'Management|Business Management', 'Visual Arts|Photography',
       'Social Work|Health Education', 'Social Work|Social Tech',
       'Social Work|Humanities', 'Photography|Visual Arts',
       'Accounting|Financial Accounting', 'Psycholgy|Social Psychology',
       'Photography|Conceptual', 'Physics|Instrumentation', 'Craft work',
       'Social Work|Social Interventions|Substance Abuse',
       'Economics|Indian Economy',
       'Social Work|Substance Abuse|Social Interventions|Humanities',
       'Social Work|Social Interventions|Substance Abuse|Health Education',
       'Social Work|Humanities|Social Interventions',
       'Finance|Financial Analysis', 'Architecture',
       'Photography|Architecture|Painting',
       'Computer Technology|Cloud Computing|Artificial Intelligence|Information Technology|Programming languages',
       'Computer Technology|Design and Analysis of Algorithms|Web designing|Database Management|Artificial Intelligence',
       'Literature|Movements in Literature',
       'Physics|Atomic Physics|Energy Physics|Quantum Mecahnics|Instrumentation',
       'Business|Business Strategies|Venture Capitalist',
       'Photography|Architecture|Illustration',
       'Photography|Architecture',
       'Human Rights|Fundamental Rights|Protection & Enforcement',
       'Environment Studies|Pollution|Environmental Biology',
       'Photography|Conceptual|Illustration',
       'Physics|Quantum Mecahnics|Industrial Instrumentation|Atomic Physics|Nuclear & Particle Physics|Energy Physics',
       'Biotechnology|Environmental Biotechnology',
       'Legal Studies|Alternate Dispute Resolution|International Treaties|International Agreement',
       'Marketing|Principles Of Marketing|Marketing Research Methadology|Marketing Management|International Marketing',
       'Sculptures', 'Psycholgy|Child Development',
       'Economics|Economic Policies|Break even Point|Foreign Economy',
       'Psycholgy|Psychological Growth',
       'Management|Business Management|Technology Mangement|Managerial Activity|Creative And Lateral Management',
       'Business',
       'Business|Business Strategies|Business Enviorment|New Venture Planning|Foreign Business|Business Organisation',
       'Marketing|Principles Of Marketing|International Marketing|Promotion And Distribution Decisions',
       'Social Work|NGO', 'Fine Arts|Painting',
       'Legal Studies|Legal System|Legal Tradition|Nationality Law|Government Law',
       'Business|Entreperneurship|Venture Capitalist|Business Enviorment|Start Ups|Business Planning|New Venture Planning',
       'Legal Studies|Company Law|Legal System|Banking Law',
       'Computer Technology|Web designing|Artificial Intelligence|Computer Application|Machine Learning|Frontend Development',
       'Music', 'Sculptures|Wood Crafts|Craft|Wood carving',
       'Fashion Design', 'Painting|Craft|Artistic design',
       '2D Composition|Watercolours|Painting',
       'Painting|Watercolours|2D Composition',
       'Visual Arts|Craft|Conceptual',
       'Painting|Visual Arts|Craft|Conceptual',
       'Painting|Craft|Mixed Media|2D Composition',
       'Visual Arts|Craft|Mixed Media|Conceptual|Mosaic painting',
       'Craft|Drawings|Conceptual|2D Composition',
       'Craft|Mixed Media|Conceptual|Mosaic painting|2D Composition',
       'Video',
       'Fashion Desigining|Fashion Illustration|Pattern Cutting|Fashion Communication',
       'Biotechnology|Animal Biotechnology',
       'Fashion Desigining|Pattern & Culture|Fashion Trends|Fashion Portfoilio',
       'Sketch Video',
       'Fashion Desigining|Pattern & Culture|Fashion Textile|Fashion Trends',
       'Test', 'Professionalism', 'Art', 'Science;Technology',
       'Art; Science',
       'Fashion Design|Illustration|Watercolours|Drawings',
       'Drawings|Fashion Design|Illustration|Watercolours',
       'Fashion Design|Illustration|Watercolours',
       'Drawings|Fashion Design|Mixed Media|Conceptual|Illustration|Pen and ink|Watercolours',
       'Fashion Design|Illustration|Conceptual|Watercolours|Pen and ink',
       'Artistic design|Logo Design|Graphic|Illustration',
       'Visual Arts|Graphic Design|Artistic design|Graphic|Illustration',
       'Learning', 'Photography|Architecture|Visual Arts|Graphic Design',
       'Photography|Architecture|Visual Arts|Graphic Design|Artistic design|Graphic|Logo Design',
       'Visual Arts|Graphic Design|2D Composition|Logo Design',
       'Artistic design',
       'Literature|Stories|Fictions|Movements in Literature',
       'Technology',
       'Computer Technology|Computation|Computer Application|Cloud Computing',
       'Visual Arts|Calligraphy|Pen and ink',
       'Mixed Media|Calligraphy|Pen and ink', 'Typography|Pen and ink',
       'Typography|Calligraphy|Pen and ink',
       'Calligraphy|Typography|Pen and ink', 'Calligraphy|Pen and ink',
       'Mass Media|Media And Society', 'Science; Technology'],
      dtype=object)

**As we can see some of the categories are combination of multiple categoris we will add more rows to the posts_df by splitting the categories and making one category for each row**

In [0]:
categories = {}
for i in posts_df['category']:
  categories.update({i:[]})
  for j in list(i.split("|")):
      categories[i].append(j) 
print(categories)

{'Plant Biotechnology': ['Plant Biotechnology'], 'Artificial Intelligence|Machine Learning|Information Technology': ['Artificial Intelligence', 'Machine Learning', 'Information Technology'], 'Operating Systems': ['Operating Systems'], 'Drawings': ['Drawings'], 'Competition Laws': ['Competition Laws'], 'Eco System': ['Eco System'], 'Economic Policies': ['Economic Policies'], 'Graphic|Graphic Design': ['Graphic', 'Graphic Design'], 'Painting': ['Painting'], 'Pen and ink': ['Pen and ink'], 'Computer Technology|Information Technology': ['Computer Technology', 'Information Technology'], 'Drawings|Painting': ['Drawings', 'Painting'], 'Graphic Design|Visual Arts|Illustration|Graphic': ['Graphic Design', 'Visual Arts', 'Illustration', 'Graphic'], 'Drawings|Calligraphy': ['Drawings', 'Calligraphy'], 'Photography': ['Photography'], 'Empowerment': ['Empowerment'], 'project': ['project'], 'Video editing': ['Video editing'], 'Inorganic Chemistry': ['Inorganic Chemistry'], 'Programming languages': ['Programming languages'], 'Conceptual|Graphic Design': ['Conceptual', 'Graphic Design'], 'HR Management': ['HR Management'], 'Human Resources|HR Management': ['Human Resources', 'HR Management'], 'Mass Media|International Relations': ['Mass Media', 'International Relations'], 'Sculptures|Artistic design': ['Sculptures', 'Artistic design'], 'Fashion Design|Ceramics|Artistic design': ['Fashion Design', 'Ceramics', 'Artistic design'], 'Craft|Artistic design': ['Craft', 'Artistic design'], 'Fashion Design|Visual Arts|Conceptual|Artistic design': ['Fashion Design', 'Visual Arts', 'Conceptual', 'Artistic design'], 'Photography|Fashion Design|Visual Arts|Graphic Design|Artistic design': ['Photography', 'Fashion Design', 'Visual Arts', 'Graphic Design', 'Artistic design'], 'Fashion Design|Visual Arts|Graphic Design|Artistic design|Graphic|Illustration': ['Fashion Design', 'Visual Arts', 'Graphic Design', 'Artistic design', 'Graphic', 'Illustration'], 'Mathematics|Linear Algebra': ['Mathematics', 'Linear Algebra'], 'Electronics & electrical Technology|Electrical Machines': ['Electronics & electrical Technology', 'Electrical Machines'], 'Auditing|Internal Audit': ['Auditing', 'Internal Audit'], 'E Commerce|E Transactions': ['E Commerce', 'E Transactions'], 'Computer Technology|Computation': ['Computer Technology', 'Computation'], 'Auditing|Internal Financial Control': ['Auditing', 'Internal Financial Control'], 'Taxation|Custom Laws': ['Taxation', 'Custom Laws'], 'Auditing|Audit Evidence': ['Auditing', 'Audit Evidence'], 'Taxation|GST': ['Taxation', 'GST'], 'Taxation|Direct Tax': ['Taxation', 'Direct Tax'], 'Auditing|Secratarial Audit': ['Auditing', 'Secratarial Audit'], 'Banking|Banking Companies': ['Banking', 'Banking Companies'], 'Banking|Banking Technology': ['Banking', 'Banking Technology'], 'Auditing|Audit Remark': ['Auditing', 'Audit Remark'], 'Auditing|Cost Audit': ['Auditing', 'Cost Audit'], 'Auditing|Statuary Audit': ['Auditing', 'Statuary Audit'], 'Computer Technology|Programming languages': ['Computer Technology', 'Programming languages'], 'Legal Studies|Legal System': ['Legal Studies', 'Legal System'], 'Sports Coaching|Sports Law': ['Sports Coaching', 'Sports Law'], 'Economics|Economics Sociology': ['Economics', 'Economics Sociology'], 'Economics|Revenue Concept': ['Economics', 'Revenue Concept'], 'Human Rights|Rights and Duties': ['Human Rights', 'Rights and Duties'], 'Sociology|Sociology of Religion': ['Sociology', 'Sociology of Religion'], 'Sociology|Sociology in India': ['Sociology', 'Sociology in India'], 'Political Science|International Politics': ['Political Science', 'International Politics'], 'Political Science|Colonialism In India': ['Political Science', 'Colonialism In India'], 'Legal Studies|Labor Law': ['Legal Studies', 'Labor Law'], 'Computer Technology|Design and Analysis of Algorithms|Programming languages': ['Computer Technology', 'Design and Analysis of Algorithms', 'Programming languages'], 'Computer Technology|Computer Application|Programming languages|Information Technology': ['Computer Technology', 'Computer Application', 'Programming languages', 'Information Technology'], 'Graphics|Computer Creation': ['Graphics', 'Computer Creation'], 'E Commerce|Other Online Platforms': ['E Commerce', 'Other Online Platforms'], 'Drawing': ['Drawing'], 'Drawings|Artistic design': ['Drawings', 'Artistic design'], 'Drawings|Artistic design|Illustration': ['Drawings', 'Artistic design', 'Illustration'], 'E Commerce|Shopping Platform|Other Online Platforms': ['E Commerce', 'Shopping Platform', 'Other Online Platforms'], 'Computer Technology|Hardware|Information Technology': ['Computer Technology', 'Hardware', 'Information Technology'], 'Computer Technology|Computation|Computer Application': ['Computer Technology', 'Computation', 'Computer Application'], 'Business|Business Skills': ['Business', 'Business Skills'], 'Computer Technology|Computer Application|Hardware|Information Technology': ['Computer Technology', 'Computer Application', 'Hardware', 'Information Technology'], 'Computer Technology|Computer Application': ['Computer Technology', 'Computer Application'], 'Computer Technology|Mobile Applications': ['Computer Technology', 'Mobile Applications'], 'Computer Technology|Computer Application|Operating Systems': ['Computer Technology', 'Computer Application', 'Operating Systems'], 'Computer Technology|Information Technology|Computer Application': ['Computer Technology', 'Information Technology', 'Computer Application'], 'Computer Technology|Computer Application|Information Technology': ['Computer Technology', 'Computer Application', 'Information Technology'], 'Communication|Basics of Communiaction': ['Communication', 'Basics of Communiaction'], 'Drawings|Painting|Visual Arts|Graphic Design|Prints|Illustration': ['Drawings', 'Painting', 'Visual Arts', 'Graphic Design', 'Prints', 'Illustration'], 'Drawings|Visual Arts|Painting|Graphic Design|Artistic design|Illustration': ['Drawings', 'Visual Arts', 'Painting', 'Graphic Design', 'Artistic design', 'Illustration'], 'Computer Technology|Artificial Intelligence': ['Computer Technology', 'Artificial Intelligence'], 'Marketing|Advertising': ['Marketing', 'Advertising'], 'Political Science|Political Thought': ['Political Science', 'Political Thought'], 'Accounting|Fundamental Of Accounting': ['Accounting', 'Fundamental Of Accounting'], 'Mixed Media': ['Mixed Media'], 'Management|Team Mangememnt': ['Management', 'Team Mangememnt'], 'Business|Corporate Social Responsibilities': ['Business', 'Corporate Social Responsibilities'], 'Philosophy|Applied Ethics': ['Philosophy', 'Applied Ethics'], 'Human Resources|Performance In Organization|Organizational Behaviour|HR Management': ['Human Resources', 'Performance In Organization', 'Organizational Behaviour', 'HR Management'], 'Fashion Desigining|Fashion Textile|Fashion Manufacturing|Fashion Techniques|Garment Production|Garment Technology': ['Fashion Desigining', 'Fashion Textile', 'Fashion Manufacturing', 'Fashion Techniques', 'Garment Production', 'Garment Technology'], 'Marketing|Promotion And Distribution Decisions': ['Marketing', 'Promotion And Distribution Decisions'], 'Biotechnology|Genetic Engineering': ['Biotechnology', 'Genetic Engineering'], 'Physiology|Neurology': ['Physiology', 'Neurology'], 'Mass Media|Indian Government': ['Mass Media', 'Indian Government'], 'Physiology|Osteology': ['Physiology', 'Osteology'], 'Physiology|Cardiology': ['Physiology', 'Cardiology'], 'Zoology|Ecology': ['Zoology', 'Ecology'], 'Computer Technology|Cloud Computing': ['Computer Technology', 'Cloud Computing'], 'Physiology|Radiology': ['Physiology', 'Radiology'], 'Computer Technology|Operating Systems': ['Computer Technology', 'Operating Systems'], 'Biotechnology|Molecular Biology': ['Biotechnology', 'Molecular Biology'], 'Physiology|Gastroenterology|Cardiology': ['Physiology', 'Gastroenterology', 'Cardiology'], 'Philosophy|Logic': ['Philosophy', 'Logic'], 'Watercolours': ['Watercolours'], 'Drawings|Watercolours': ['Drawings', 'Watercolours'], 'Mixed Media|Conceptual': ['Mixed Media', 'Conceptual'], 'Drawings|Painting|Watercolours': ['Drawings', 'Painting', 'Watercolours'], 'Visual Arts': ['Visual Arts'], 'Conceptual': ['Conceptual'], 'Tapestry': ['Tapestry'], 'Calligraphy': ['Calligraphy'], 'Human Resources|Performance In Organization': ['Human Resources', 'Performance In Organization'], 'Computer Technology|Robotics|Data Science|Information Technology|Artificial Intelligence': ['Computer Technology', 'Robotics', 'Data Science', 'Information Technology', 'Artificial Intelligence'], 'Philosophy|Public Philosophy': ['Philosophy', 'Public Philosophy'], 'Digital Marketing': ['Digital Marketing'], 'Mass Media|Videography': ['Mass Media', 'Videography'], 'Drawings|Painting|Visual Arts|Artistic design|Watercolours|Acrylics': ['Drawings', 'Painting', 'Visual Arts', 'Artistic design', 'Watercolours', 'Acrylics'], 'Biotechnology|Plant Biotechnology': ['Biotechnology', 'Plant Biotechnology'], 'Sports Coaching|Sports Event': ['Sports Coaching', 'Sports Event'], 'Political Science|Government and Politics': ['Political Science', 'Government and Politics'], 'Geography|Physical Geography': ['Geography', 'Physical Geography'], 'Computer Technology|Data Science': ['Computer Technology', 'Data Science'], 'Computer Technology|Machine Learning': ['Computer Technology', 'Machine Learning'], 'Graphic Design': ['Graphic Design'], 'Graphic Design|Visual Arts': ['Graphic Design', 'Visual Arts'], 'Education': ['Education'], 'Business|Business Organisation': ['Business', 'Business Organisation'], 'Zoology|Environmental Biology': ['Zoology', 'Environmental Biology'], 'Human Rights|Fundamental Rights': ['Human Rights', 'Fundamental Rights'], 'Computer Technology|Design and Analysis of Algorithms': ['Computer Technology', 'Design and Analysis of Algorithms'], 'Marketing|Marketing Management': ['Marketing', 'Marketing Management'], 'Accounting|Partnership Accounting|Corporate Accounting|Accounting Theory And Practices': ['Accounting', 'Partnership Accounting', 'Corporate Accounting', 'Accounting Theory And Practices'], 'Legal Studies|Income Tax Laws': ['Legal Studies', 'Income Tax Laws'], 'Graphics|Articulation|Computer Creation': ['Graphics', 'Articulation', 'Computer Creation'], 'Archeology|Human Prehistory': ['Archeology', 'Human Prehistory'], 'Business|Start Ups|Entreperneurship|Business Strategies|Venture Capitalist|Business Planning': ['Business', 'Start Ups', 'Entreperneurship', 'Business Strategies', 'Venture Capitalist', 'Business Planning'], 'Geography|Indian Geography': ['Geography', 'Indian Geography'], 'E Commerce|Shopping Platform|Other Online Platforms|Digital India': ['E Commerce', 'Shopping Platform', 'Other Online Platforms', 'Digital India'], 'Business|Bio-entrepreneurship': ['Business', 'Bio-entrepreneurship'], 'Literature|Stories': ['Literature', 'Stories'], 'History|Indian History': ['History', 'Indian History'], 'ViDEO': ['ViDEO'], 'Management|Business Management': ['Management', 'Business Management'], 'Visual Arts|Photography': ['Visual Arts', 'Photography'], 'Social Work|Health Education': ['Social Work', 'Health Education'], 'Social Work|Social Tech': ['Social Work', 'Social Tech'], 'Social Work|Humanities': ['Social Work', 'Humanities'], 'Photography|Visual Arts': ['Photography', 'Visual Arts'], 'Accounting|Financial Accounting': ['Accounting', 'Financial Accounting'], 'Psycholgy|Social Psychology': ['Psycholgy', 'Social Psychology'], 'Photography|Conceptual': ['Photography', 'Conceptual'], 'Physics|Instrumentation': ['Physics', 'Instrumentation'], 'Craft work': ['Craft work'], 'Social Work|Social Interventions|Substance Abuse': ['Social Work', 'Social Interventions', 'Substance Abuse'], 'Economics|Indian Economy': ['Economics', 'Indian Economy'], 'Social Work|Substance Abuse|Social Interventions|Humanities': ['Social Work', 'Substance Abuse', 'Social Interventions', 'Humanities'], 'Social Work|Social Interventions|Substance Abuse|Health Education': ['Social Work', 'Social Interventions', 'Substance Abuse', 'Health Education'], 'Social Work|Humanities|Social Interventions': ['Social Work', 'Humanities', 'Social Interventions'], 'Finance|Financial Analysis': ['Finance', 'Financial Analysis'], 'Architecture': ['Architecture'], 'Photography|Architecture|Painting': ['Photography', 'Architecture', 'Painting'], 'Computer Technology|Cloud Computing|Artificial Intelligence|Information Technology|Programming languages': ['Computer Technology', 'Cloud Computing', 'Artificial Intelligence', 'Information Technology', 'Programming languages'], 'Computer Technology|Design and Analysis of Algorithms|Web designing|Database Management|Artificial Intelligence': ['Computer Technology', 'Design and Analysis of Algorithms', 'Web designing', 'Database Management', 'Artificial Intelligence'], 'Literature|Movements in Literature': ['Literature', 'Movements in Literature'], 'Physics|Atomic Physics|Energy Physics|Quantum Mecahnics|Instrumentation': ['Physics', 'Atomic Physics', 'Energy Physics', 'Quantum Mecahnics', 'Instrumentation'], 'Business|Business Strategies|Venture Capitalist': ['Business', 'Business Strategies', 'Venture Capitalist'], 'Photography|Architecture|Illustration': ['Photography', 'Architecture', 'Illustration'], 'Photography|Architecture': ['Photography', 'Architecture'], 'Human Rights|Fundamental Rights|Protection & Enforcement': ['Human Rights', 'Fundamental Rights', 'Protection & Enforcement'], 'Environment Studies|Pollution|Environmental Biology': ['Environment Studies', 'Pollution', 'Environmental Biology'], 'Photography|Conceptual|Illustration': ['Photography', 'Conceptual', 'Illustration'], 'Physics|Quantum Mecahnics|Industrial Instrumentation|Atomic Physics|Nuclear & Particle Physics|Energy Physics': ['Physics', 'Quantum Mecahnics', 'Industrial Instrumentation', 'Atomic Physics', 'Nuclear & Particle Physics', 'Energy Physics'], 'Biotechnology|Environmental Biotechnology': ['Biotechnology', 'Environmental Biotechnology'], 'Legal Studies|Alternate Dispute Resolution|International Treaties|International Agreement': ['Legal Studies', 'Alternate Dispute Resolution', 'International Treaties', 'International Agreement'], 'Marketing|Principles Of Marketing|Marketing Research Methadology|Marketing Management|International Marketing': ['Marketing', 'Principles Of Marketing', 'Marketing Research Methadology', 'Marketing Management', 'International Marketing'], 'Sculptures': ['Sculptures'], 'Psycholgy|Child Development': ['Psycholgy', 'Child Development'], 'Economics|Economic Policies|Break even Point|Foreign Economy': ['Economics', 'Economic Policies', 'Break even Point', 'Foreign Economy'], 'Psycholgy|Psychological Growth': ['Psycholgy', 'Psychological Growth'], 'Management|Business Management|Technology Mangement|Managerial Activity|Creative And Lateral Management': ['Management', 'Business Management', 'Technology Mangement', 'Managerial Activity', 'Creative And Lateral Management'], 'Business': ['Business'], 'Business|Business Strategies|Business Enviorment|New Venture Planning|Foreign Business|Business Organisation': ['Business', 'Business Strategies', 'Business Enviorment', 'New Venture Planning', 'Foreign Business', 'Business Organisation'], 'Marketing|Principles Of Marketing|International Marketing|Promotion And Distribution Decisions': ['Marketing', 'Principles Of Marketing', 'International Marketing', 'Promotion And Distribution Decisions'], 'Social Work|NGO': ['Social Work', 'NGO'], 'Fine Arts|Painting': ['Fine Arts', 'Painting'], 'Legal Studies|Legal System|Legal Tradition|Nationality Law|Government Law': ['Legal Studies', 'Legal System', 'Legal Tradition', 'Nationality Law', 'Government Law'], 'Business|Entreperneurship|Venture Capitalist|Business Enviorment|Start Ups|Business Planning|New Venture Planning': ['Business', 'Entreperneurship', 'Venture Capitalist', 'Business Enviorment', 'Start Ups', 'Business Planning', 'New Venture Planning'], 'Legal Studies|Company Law|Legal System|Banking Law': ['Legal Studies', 'Company Law', 'Legal System', 'Banking Law'], 'Computer Technology|Web designing|Artificial Intelligence|Computer Application|Machine Learning|Frontend Development': ['Computer Technology', 'Web designing', 'Artificial Intelligence', 'Computer Application', 'Machine Learning', 'Frontend Development'], 'Music': ['Music'], 'Sculptures|Wood Crafts|Craft|Wood carving': ['Sculptures', 'Wood Crafts', 'Craft', 'Wood carving'], 'Fashion Design': ['Fashion Design'], 'Painting|Craft|Artistic design': ['Painting', 'Craft', 'Artistic design'], '2D Composition|Watercolours|Painting': ['2D Composition', 'Watercolours', 'Painting'], 'Painting|Watercolours|2D Composition': ['Painting', 'Watercolours', '2D Composition'], 'Visual Arts|Craft|Conceptual': ['Visual Arts', 'Craft', 'Conceptual'], 'Painting|Visual Arts|Craft|Conceptual': ['Painting', 'Visual Arts', 'Craft', 'Conceptual'], 'Painting|Craft|Mixed Media|2D Composition': ['Painting', 'Craft', 'Mixed Media', '2D Composition'], 'Visual Arts|Craft|Mixed Media|Conceptual|Mosaic painting': ['Visual Arts', 'Craft', 'Mixed Media', 'Conceptual', 'Mosaic painting'], 'Craft|Drawings|Conceptual|2D Composition': ['Craft', 'Drawings', 'Conceptual', '2D Composition'], 'Craft|Mixed Media|Conceptual|Mosaic painting|2D Composition': ['Craft', 'Mixed Media', 'Conceptual', 'Mosaic painting', '2D Composition'], 'Video': ['Video'], 'Fashion Desigining|Fashion Illustration|Pattern Cutting|Fashion Communication': ['Fashion Desigining', 'Fashion Illustration', 'Pattern Cutting', 'Fashion Communication'], 'Biotechnology|Animal Biotechnology': ['Biotechnology', 'Animal Biotechnology'], 'Fashion Desigining|Pattern & Culture|Fashion Trends|Fashion Portfoilio': ['Fashion Desigining', 'Pattern & Culture', 'Fashion Trends', 'Fashion Portfoilio'], 'Sketch Video': ['Sketch Video'], 'Fashion Desigining|Pattern & Culture|Fashion Textile|Fashion Trends': ['Fashion Desigining', 'Pattern & Culture', 'Fashion Textile', 'Fashion Trends'], 'Test': ['Test'], 'Professionalism': ['Professionalism'], 'Art': ['Art'], 'Science;Technology': ['Science;Technology'], 'Art; Science': ['Art; Science'], 'Fashion Design|Illustration|Watercolours|Drawings': ['Fashion Design', 'Illustration', 'Watercolours', 'Drawings'], 'Drawings|Fashion Design|Illustration|Watercolours': ['Drawings', 'Fashion Design', 'Illustration', 'Watercolours'], 'Fashion Design|Illustration|Watercolours': ['Fashion Design', 'Illustration', 'Watercolours'], 'Drawings|Fashion Design|Mixed Media|Conceptual|Illustration|Pen and ink|Watercolours': ['Drawings', 'Fashion Design', 'Mixed Media', 'Conceptual', 'Illustration', 'Pen and ink', 'Watercolours'], 'Fashion Design|Illustration|Conceptual|Watercolours|Pen and ink': ['Fashion Design', 'Illustration', 'Conceptual', 'Watercolours', 'Pen and ink'], 'Artistic design|Logo Design|Graphic|Illustration': ['Artistic design', 'Logo Design', 'Graphic', 'Illustration'], 'Visual Arts|Graphic Design|Artistic design|Graphic|Illustration': ['Visual Arts', 'Graphic Design', 'Artistic design', 'Graphic', 'Illustration'], 'Learning': ['Learning'], 'Photography|Architecture|Visual Arts|Graphic Design': ['Photography', 'Architecture', 'Visual Arts', 'Graphic Design'], 'Photography|Architecture|Visual Arts|Graphic Design|Artistic design|Graphic|Logo Design': ['Photography', 'Architecture', 'Visual Arts', 'Graphic Design', 'Artistic design', 'Graphic', 'Logo Design'], 'Visual Arts|Graphic Design|2D Composition|Logo Design': ['Visual Arts', 'Graphic Design', '2D Composition', 'Logo Design'], 'Artistic design': ['Artistic design'], 'Literature|Stories|Fictions|Movements in Literature': ['Literature', 'Stories', 'Fictions', 'Movements in Literature'], 'Technology': ['Technology'], 'Computer Technology|Computation|Computer Application|Cloud Computing': ['Computer Technology', 'Computation', 'Computer Application', 'Cloud Computing'], 'Visual Arts|Calligraphy|Pen

**Now lets update posts_df**

In [0]:
updated_data =  []
for i in categories:
  dummy = posts_df[posts_df['category']==i]
  id = dummy['_id'].values[0]
  title = dummy['title'].values[0]
  post_type = dummy[' post_type'].values[0]
  for j in categories[i]:
      dict1 = {}
      dict1.update({'_id':id})
      dict1.update({'title':title})
      dict1.update({'category':j})
      dict1.update({' post_type':post_type})
      updated_data.append(dict1)

In [0]:
posts_df_updated = pd.DataFrame(updated_data)

**now lets check updated posts_df**

In [0]:
posts_df_updated.loc[:, ['_id', 'category', ' post_type']].head()

                        _id                 category  post_type
0  5d62abaa65218653a132c956      Plant Biotechnology       blog
1  5d6d39567fa40e1417a4931c  Artificial Intelligence       blog
2  5d6d39567fa40e1417a4931c         Machine Learning       blog
3  5d6d39567fa40e1417a4931c   Information Technology       blog
4  5d7d23315720533e15c3b1ee        Operating Systems       blog

In [0]:
posts_df.loc[:, ['_id', 'category', ' post_type']].head()

                        _id  ...  post_type
0  5d62abaa65218653a132c956  ...       blog
1  5d6d39567fa40e1417a4931c  ...       blog
2  5d7d23315720533e15c3b1ee  ...       blog
3  5d7d405e5720533e15c3b1f3  ...    artwork
4  5d80dfbc6c53455f896e600e  ...       blog

[5 rows x 3 columns]

In [0]:
posts_df_updated.describe()

                             _id       title             category  post_type
count                        592         592                  592        592
unique                       232         228                  235          4
top     5ec7abfdec493f4a26558860  MOSAIC ART  Computer Technology       blog
freq                           7          10                   24        374

**As we can see we have successfully created our posts dataframe now we will merge the dataframes**

##MERGING OF THE DATAFRAMES

**We will merge views_df and posts_df_updated dataframes as they conatin all the columns and data that we will need for our recommendation system**

In [0]:
views_df.columns

Index(['user_id', 'post_id', 'timestamp'], dtype='object')

In [0]:
posts_df_updated.columns

Index(['_id', 'title', 'category', ' post_type'], dtype='object')

**As we know for merging we need a common column and post_id is the column in the both dataframes but we have to rename one of them to perform the merge operation**
**We will change rename _id to post id in the posts_df_updated column**

In [0]:
posts_df_updated.rename(columns={'_id':'post_id'}, inplace=True)

In [0]:
posts_df_updated.columns

Index(['post_id', 'title', 'category', ' post_type'], dtype='object')

In [0]:
main_df = pd.merge(views_df, posts_df_updated)

In [0]:
main_df.columns

Index(['user_id', 'post_id', 'timestamp', 'title', 'category', ' post_type'], dtype='object')

In [0]:
main_df.head(10)

                    user_id  ...  post_type
0  5df49b32cc709107827fb3c7  ...    artwork
1  5df49b32cc709107827fb3c7  ...    artwork
2  5df49b32cc709107827fb3c7  ...    artwork
3  5df49b32cc709107827fb3c7  ...    artwork
4  5df49b32cc709107827fb3c7  ...    artwork
5  5ec3ba5374f7660d73aa1201  ...    artwork
6  5ec3ba5374f7660d73aa1201  ...    artwork
7  5ec3ba5374f7660d73aa1201  ...    artwork
8  5ec3ba5374f7660d73aa1201  ...    artwork
9  5ec3ba5374f7660d73aa1201  ...    artwork

[10 rows x 6 columns]

In [0]:
main_df.tail(20)

                       user_id  ...  post_type
1730  5d610ae1653a331687083239  ...       blog
1731  5d610ae1653a331687083239  ...       blog
1732  5d610ae1653a331687083239  ...       blog
1733  5d610ae1653a331687083239  ...       blog
1734  5d610ae1653a331687083239  ...       blog
1735  5e5855ced701ab08af792b51  ...       blog
1736  5e5855ced701ab08af792b51  ...       blog
1737  5e5855ced701ab08af792b51  ...       blog
1738  5e5855ced701ab08af792b51  ...       blog
1739  5e5855ced701ab08af792b51  ...       blog
1740  5d60098a653a331687083238  ...    artwork
1741  5d60098a653a331687083238  ...    artwork
1742  5d618359fc5fcf3bdd9a0910  ...       blog
1743  5d618359fc5fcf3bdd9a0910  ...       blog
1744  5e7def80a3258347b42f2124  ...       blog
1745  5d60098a653a331687083238  ...       blog
1746  5d60098a653a331687083238  ...       blog
1747  5d60098a653a331687083238  ...    artwork
1748  5d60098a653a331687083238  ...    artwork
1749  5d60098a653a331687083238  ...    artwork

[20 rows x 6 columns]

In [0]:
main_df.describe()

                         user_id  ...  post_type
count                       1750  ...       1750
unique                        88  ...          3
top     5d60098a653a331687083238  ...       blog
freq                         261  ...        846

[4 rows x 6 columns]

**Now the merging is done and we have our actuall dataframe to work on now lets move to the nect step which is filtering using Collaborative Filtering **

# **Collaborative Filtering**

**So we are using user-user collaberative filtering. And we are using cosine similarity to determine the similarity between users. For that we need to build a matrix. categories will be the columns and user_ids will be the rows. And we are using K near neighbour model to determine the similar users.**

## CONSTRUCTING THE MATRIX

**We will create a sparse matrix of mXn. All the unique categories will be the column values and user_ids will be the row value. And the cell values will be the number times a user has viwed a category. The higher the cell value the higher the users interest for that particular category**

**Lets find all the unique user_ids and categories**

In [0]:
users = list(main_df['user_id'].unique())
len(users)

'5df49b32cc709107827fb3c7'

In [0]:
categories = list(main_df['category'].unique())
len(categories)

234

**Our matrix size will be of size 88X234**

In [0]:
user_mat = [[] for i in range(len(users))]
for i in range(len(users)):
    for j in range(len(categories)):
        value = len(main_df[(main_df['user_id']==users[i])&(main_df['category']==categories[j])])
        user_mat[i].append(value)

In [0]:
for i in user_mat[0]:
    print(i, end=" ")

4 3 3 3 2 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 0 0 0 0 1 2 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

**Now we will convert the list to a actual sparse matrix using scipy.sparse library**

In [0]:
from scipy.sparse import csr_matrix # for creating a sparse matrix
user_mat = csr_matrix(user_mat)

In [0]:
user_mat

<88x234 sparse matrix of type '<class 'numpy.longlong'>'
	with 1034 stored elements in Compressed Sparse Row format>

**As we have made our matrix lets train the model.**

## TRAINING THE MODEL

**So we are using K nearest neighbour model. And the similarity constraint we are using is cosine similarity.**

**Importing the model**

In [0]:
from sklearn.neighbors import NearestNeighbors

In [0]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=15)

In [0]:
model_knn.fit(user_mat)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                 radius=1.0)

**We have trained our model. Now lets make a function which will take users_id as input and recommend categories that the user would like**

In [0]:
def recommender(user_id, data=user_mat, model=model_knn):
    model.fit(data)
    index = users.index(user_id)
    current_user = main_df[main_df['user_id']==user_id]
    distances, indices = model.kneighbors(data[index], 15)
    recomendation = []
    for i in indices[0]:
        user = main_df[main_df['user_id']==users[i]]
        for i in user['category'].unique():
            if i not in current_user['category'].unique():
                recomendation.append(i)
    print(recomendation)
    print(indices)

**What we did above there is first we found out 15 similar users for our current user and we recomended those posts to the user which he/she hasnot viewed yet but similar users have.Now lets test our function for a user**

**Lets see what the system recomendation for the first user before that lets see the users categories that he has already viewed**

In [0]:
main_df[main_df['user_id']==users[0]]['category'].unique()

array(['Visual Arts', 'Graphic Design', 'Artistic design', 'Graphic',
       'Illustration', 'Photography', 'Architecture', 'Logo Design',
       'Art; Science', 'Science;Technology', 'Fashion Desigining',
       'Pattern & Culture', 'Fashion Textile', 'Fashion Trends',
       'Fashion Illustration', 'Pattern Cutting', 'Fashion Communication',
       'Art', 'Calligraphy'], dtype=object)

**These are the categories the user has viewed now lets see the recomendations for our user**

In [0]:
recommender(users[0])

['Fashion Portfoilio', 'Fashion Design', 'Watercolours', 'Drawings', 'Sketch Video', 'Political Science', 'Colonialism In India', 'Legal Studies', 'Labor Law', 'Banking', 'Banking Companies', 'Professionalism', 'Fashion Portfoilio', 'Painting', 'Craft', 'Technology', 'Drawings', 'Business', 'Learning', 'Literature', 'Stories', 'Fictions', 'Movements in Literature', 'Fashion Portfoilio', 'Business Strategies', 'Business Enviorment', 'New Venture Planning', 'Foreign Business', 'Business Organisation', 'Fashion Design', 'Watercolours', 'Conceptual', 'Pen and ink', 'Mixed Media', '2D Composition', 'Communication', 'Basics of Communiaction', 'Sketch Video', 'Professionalism', 'Biotechnology', 'Molecular Biology', 'Fine Arts', 'Painting', 'Management', 'Business Management', 'Technology Mangement', 'Managerial Activity', 'Creative And Lateral Management', 'Economics', 'Economic Policies', 'Break even Point', 'Foreign Economy', 'Computer Technology', 'Operating Systems', 'Fashion Manufacturing', 'Fashion Techniques', 'Garment Production', 'Garment Technology', 'Digital Marketing', 'Learning', 'Fashion Design', 'Watercolours', 'Drawings', 'Conceptual', 'Pen and ink', 'Mixed Media', 'Political Science', 'Colonialism In India', 'Legal Studies', 'Labor Law', 'Banking', 'Banking Companies', 'Auditing', 'Statuary Audit', 'Legal System', 'Sports Coaching', 'Sports Law', 'Taxation', 'Custom Laws', 'Economics', 'Revenue Concept', 'Human Rights', 'Rights and Duties', 'Sociology', 'Sociology of Religion', 'Sociology in India', 'International Politics', 'Mass Media', 'Videography', 'Biotechnology', 'Plant Biotechnology', 'Painting', 'Technology', 'Digital Marketing', 'Business', 'Learning', 'Literature', 'Stories', 'Fictions', 'Movements in Literature', 'Business Strategies', 'Business Enviorment', 'New Venture Planning', 'Foreign Business', 'Business Organisation', 'Conceptual', 'Fashion Design', 'Watercolours', 'Drawings', 'Pen and ink', 'Mixed Media', '2D Composition', 'Sketch Video', 'Professionalism', 'Philosophy', 'Public Philosophy', 'Test', 'Applied Ethics', 'Entreperneurship', 'Venture Capitalist', 'Start Ups', 'Business Planning', 'Painting', 'Prints', 'Biotechnology', 'Animal Biotechnology', 'Craft', 'Mosaic painting', 'Social Work', 'Humanities', 'Social Interventions', 'Sculptures', 'Marketing', 'Principles Of Marketing', 'Marketing Research Methadology', 'Marketing Management', 'International Marketing', 'Music', 'Fine Arts', 'Promotion And Distribution Decisions', 'Video', 'Legal Studies', 'Legal System', 'Legal Tradition', 'Nationality Law', 'Government Law', 'Plant Biotechnology', 'Management', 'Business Management', 'Technology Mangement', 'Managerial Activity', 'Creative And Lateral Management', 'Human Rights', 'Fundamental Rights', 'Protection & Enforcement', 'NGO', 'Graphics', 'Articulation', 'Computer Creation', 'Psycholgy', 'Psychological Growth', 'Physics', 'Quantum Mecahnics', 'Industrial Instrumentation', 'Atomic Physics', 'Nuclear & Particle Physics', 'Energy Physics', 'Substance Abuse', 'Environmental Biotechnology', 'Computer Technology', 'Design and Analysis of Algorithms', 'Web designing', 'Database Management', 'Artificial Intelligence', 'Health Education', 'Social Psychology', 'Economics', 'Indian Economy', 'Instrumentation', 'Craft work', 'Acrylics', 'Accounting', 'Financial Accounting', 'ViDEO', 'Archeology', 'Human Prehistory', 'Mass Media', 'Videography', 'Sports Coaching', 'Sports Event', 'Machine Learning', 'Information Technology', 'Partnership Accounting', 'Corporate Accounting', 'Accounting Theory And Practices', 'Zoology', 'Environmental Biology', 'Physiology', 'Osteology', 'Education', 'Fashion Manufacturing', 'Fashion Techniques', 'Garment Production', 'Garment Technology', 'Political Science', 'Government and Politics', 'Gastroenterology', 'Cardiology', 'Logic', 'Human Resources', 'Performance In Organization', 'Robotics', 'Data Science', 'International Relations', 'Tapestry', 'Technology', 'Competition Laws', 'Digital Marketing', 'Fashion Portfoilio', 'Fashion Design', 'Conceptual', 'Painting', 'Craft', 'Biotechnology', 'Animal Biotechnology', 'Mixed Media', 'Mosaic painting', '2D Composition', 'Drawings', 'Sculptures', 'Wood Crafts', 'Wood carving', 'Watercolours', 'Ceramics', 'Music', 'Fine Arts', 'Legal Studies', 'Company Law', 'Legal System', 'Banking Law', 'Computer Technology', 'Web designing', 'Artificial Intelligence', 'Computer Application', 'Machine Learning', 'Frontend Development', 'Social Work', 'NGO', 'Graphics', 'Articulation', 'Computer Creation', 'Physics', 'Quantum Mecahnics', 'Industrial Instrumentation', 'Atomic Physics', 'Nuclear & Particle Physics', 'Energy Physics', 'Psycholgy', 'Child Development', 'Alternate Dispute Resolution', 'International Treaties', 'International Agreement', 'Economics', 'Economic Policies', 'Break even Point', 'Foreign Economy', 'Environment Studies', 'Pollution', 'Environmental Biology', 'Business', 'Business Organisation', 'Acrylics', 'ViDEO', 'E Commerce', 'Shopping Platform', 'Other Online Platforms', 'Digital India', 'Bio-entrepreneurship', 'History', 'Indian History', 'Income Tax Laws', 'Mass Media', 'Videography', 'Marketing', 'Marketing Management', 'Design and Analysis of Algorithms', 'Zoology', 'Education', 'Plant Biotechnology', 'Robotics', 'Data Science', 'Information Technology', 'Physiology', 'Radiology', 'Fashion Design', 'Watercolours', 'Drawings', 'Conceptual', 'Pen and ink', 'Mixed Media', 'Painting', 'Craft', 'Mosaic painting', '2D Composition', 'Sculptures', 'Wood Crafts', 'Wood carving', 'Ceramics', 'Fine Arts', 'Fashion Manufacturing', 'Fashion Techniques', 'Garment Production', 'Garment Technology', 'Technology', 'Fashion Design', 'Watercolours', 'Drawings', 'Conceptual', 'Pen and ink', 'Mixed Media', 'Computer Technology', 'Cloud Computing', 'Human Rights', 'Fundamental Rights', 'Biotechnology', 'Plant Biotechnology', 'Mass Media', 'Indian Government', 'Fashion Design', 'Watercolours', 'Drawings', 'Conceptual', 'Pen and ink', 'Mixed Media', 'Physiology', 'Radiology', 'Drawings', 'Painting', 'Watercolours', 'Acrylics', 'Human Resources', 'Performance In Organization', 'Organizational Behaviour', 'HR Management']
[[ 0  1  2 32  3 42  8 15 16 73 37  4  6 75 70]]

**Looks like the system is suggesting posts of users interest and also some new categories for the user.**
**The List below suggests the similar users to the current user.**

**So This ends our Collaborative Filtering. Lets move on to Content based filtering**

# CONTENT BASED FILTERING