<a href="https://colab.research.google.com/github/Aditya0721/Recommender/blob/master/Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA PREPROCESSING**

## Uploading the datasets and storing it in dataframes

In [0]:
import pandas as pd
from google.colab import files
import io

In [8]:
uploaded = files.upload()

Saving posts.csv to posts.csv
Saving users.csv to users (1).csv
Saving views.csv to views.csv

In [12]:
users_df = pd.read_csv('users.csv')
users_df.head()

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [13]:
posts_df = pd.read_csv('posts.csv')
posts_df.head()

                        _id  ...  post_type
0  5d62abaa65218653a132c956  ...       blog
1  5d6d39567fa40e1417a4931c  ...       blog
2  5d7d23315720533e15c3b1ee  ...       blog
3  5d7d405e5720533e15c3b1f3  ...    artwork
4  5d80dfbc6c53455f896e600e  ...       blog

[5 rows x 4 columns]

In [14]:
views_df = pd.read_csv('views.csv')
views_df.head()

                    user_id                   post_id                 timestamp
0  5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e  2020-06-01T10:46:45.131Z
1  5ed3748576027d35905ccaab  5ed4cbadbd514d602c1531a6  2020-06-01T09:39:20.021Z
2  5ed0defa76027d35905cc2de  5eac305f10426255a7aa9dd3  2020-06-01T08:12:42.682Z
3  5ed0defa76027d35905cc2de  5ed1ff0276027d35905cc60d  2020-06-01T08:10:23.880Z
4  5ed0defa76027d35905cc2de  5ed3820f76027d35905ccac8  2020-06-01T08:08:54.124Z

## DETAILS OF THE DATAFRAMES

In [15]:
users_df.describe()

                             _id          name gender      academics
count                        118           118    118            118
unique                       118           118      3              3
top     5ed142cd76027d35905cc4cd  Saumya Singh   male  undergraduate
freq                           1             1     72             68

In [16]:
views_df.describe()

                         user_id  ...                 timestamp
count                       1449  ...                      1449
unique                       118  ...                      1449
top     5d60098a653a331687083238  ...  2020-05-02T08:40:17.759Z
freq                         230  ...                         1

[4 rows x 3 columns]

In [17]:
posts_df.describe()

                             _id             title     category  post_type
count                        493               493          465        493
unique                       493               477          231          4
top     5e9ab176a3258347b42f2c4a  PENCIL RENDERING  Photography    artwork
freq                           1                 3           81        241

**checking for null values**

In [19]:
users_df.isnull().any()

_id          False
name         False
gender       False
academics    False
dtype: bool

In [20]:
views_df.isnull().any()

user_id      False
post_id      False
timestamp    False
dtype: bool

In [22]:
posts_df.isnull().any()

_id           False
title         False
category       True
 post_type    False
dtype: bool

**we have got null values in the category column of the posts dataset**

**as its a categorical variable we have to fill the null values considering the title and post_type**

**counting total number of null values in posts_df**

In [42]:
posts_df['category'].isna().sum()

28

**finding title and post_type for all 28 null values**

In [47]:
posts_df[posts_df['category'].isna()]

                          _id  ...  post_type
24   5ddeb6e80eb5e25a8a07f065  ...    project
25   5de179d80eb5e25a8a07f079  ...    project
29   5dee9b5042a8854bf6eabaaf  ...    project
65   5e3ea110eab55d319938a7a7  ...    project
88   5e4c3873f5561b1994c8e3d9  ...    project
93   5e4da502f5561b1994c8e42c  ...    project
94   5e4da7c8f5561b1994c8e439  ...    project
95   5e4dab15f5561b1994c8e446  ...    project
96   5e4ed85af5561b1994c8e470  ...    project
97   5e4ed8ccf5561b1994c8e47d  ...    project
98   5e4edd1bf5561b1994c8e48a  ...    project
99   5e4edd87f5561b1994c8e497  ...    project
227  5e8c2d01a3258347b42f2627  ...    project
228  5e8c993da3258347b42f264d  ...    project
229  5e8cb88ea3258347b42f267e  ...    project
230  5e8cc876a3258347b42f26a3  ...    project
231  5e8ccfb5a3258347b42f26bc  ...    project
352  5ea5aacd10426255a7aa9b71  ...    project
353  5ea5ce9310426255a7aa9b8d  ...    project
374  5eaf3d4110426255a7aa9f4c  ...       blog
394  5eb1df6d10426255a7aaa029  ...    project
442  5eca8fceeaff6b0c3a58a3c0  ...    project
463  5ed0e31a76027d35905cc302  ...    project
464  5ed0e65976027d35905cc356  ...    project
465  5ed0f0c576027d35905cc3c7  ...    project
468  5ed175f176027d35905cc554  ...    project
469  5ed175f476027d35905cc562  ...    project
490  5ed3ef4cbd514d602c1530f2  ...    project

[28 rows x 4 columns]

**As we can see most of the null values are for the project post types we will create a new category called project and assign it to the null values and when ever a user leaves the category field empty we will assign it to project as default**

In [0]:
posts_df[posts_df['category'].isna()]='project'

**As we have imputed the null values lets check again**

In [51]:
posts_df.isna().any()

_id           False
title         False
category      False
 post_type    False
dtype: bool

**Now lets see how many unique categories are present in the dataset**

In [56]:
posts_df['category'].unique()

array(['Plant Biotechnology',
       'Artificial Intelligence|Machine Learning|Information Technology',
       'Operating Systems', 'Drawings', 'Competition Laws', 'Eco System',
       'Economic Policies', 'Graphic|Graphic Design', 'Painting',
       'Pen and ink', 'Computer Technology|Information Technology',
       'Drawings|Painting',
       'Graphic Design|Visual Arts|Illustration|Graphic',
       'Drawings|Calligraphy', 'Photography', 'Empowerment', 'project',
       'Video editing', 'Inorganic Chemistry', 'Programming languages',
       'Conceptual|Graphic Design', 'HR Management',
       'Human Resources|HR Management',
       'Mass Media|International Relations', 'Sculptures|Artistic design',
       'Fashion Design|Ceramics|Artistic design', 'Craft|Artistic design',
       'Fashion Design|Visual Arts|Conceptual|Artistic design',
       'Photography|Fashion Design|Visual Arts|Graphic Design|Artistic design',
       'Fashion Design|Visual Arts|Graphic Design|Artistic design|Graphic|Illustration',
       'Mathematics|Linear Algebra',
       'Electronics & electrical Technology|Electrical Machines',
       'Auditing|Internal Audit', 'E Commerce|E Transactions',
       'Computer Technology|Computation',
       'Auditing|Internal Financial Control', 'Taxation|Custom Laws',
       'Auditing|Audit Evidence', 'Taxation|GST', 'Taxation|Direct Tax',
       'Auditing|Secratarial Audit', 'Banking|Banking Companies',
       'Banking|Banking Technology', 'Auditing|Audit Remark',
       'Auditing|Cost Audit', 'Auditing|Statuary Audit',
       'Computer Technology|Programming languages',
       'Legal Studies|Legal System', 'Sports Coaching|Sports Law',
       'Economics|Economics Sociology', 'Economics|Revenue Concept',
       'Human Rights|Rights and Duties',
       'Sociology|Sociology of Religion', 'Sociology|Sociology in India',
       'Political Science|International Politics',
       'Political Science|Colonialism In India',
       'Legal Studies|Labor Law',
       'Computer Technology|Design and Analysis of Algorithms|Programming languages',
       'Computer Technology|Computer Application|Programming languages|Information Technology',
       'Graphics|Computer Creation', 'E Commerce|Other Online Platforms',
       'Drawing', 'Drawings|Artistic design',
       'Drawings|Artistic design|Illustration',
       'E Commerce|Shopping Platform|Other Online Platforms',
       'Computer Technology|Hardware|Information Technology',
       'Computer Technology|Computation|Computer Application',
       'Business|Business Skills',
       'Computer Technology|Computer Application|Hardware|Information Technology',
       'Computer Technology|Computer Application',
       'Computer Technology|Mobile Applications',
       'Computer Technology|Computer Application|Operating Systems',
       'Computer Technology|Information Technology|Computer Application',
       'Computer Technology|Computer Application|Information Technology',
       'Communication|Basics of Communiaction',
       'Drawings|Painting|Visual Arts|Graphic Design|Prints|Illustration',
       'Drawings|Visual Arts|Painting|Graphic Design|Artistic design|Illustration',
       'Computer Technology|Artificial Intelligence',
       'Marketing|Advertising', 'Political Science|Political Thought',
       'Accounting|Fundamental Of Accounting', 'Mixed Media',
       'Management|Team Mangememnt',
       'Business|Corporate Social Responsibilities',
       'Philosophy|Applied Ethics',
       'Human Resources|Performance In Organization|Organizational Behaviour|HR Management',
       'Fashion Desigining|Fashion Textile|Fashion Manufacturing|Fashion Techniques|Garment Production|Garment Technology',
       'Marketing|Promotion And Distribution Decisions',
       'Biotechnology|Genetic Engineering', 'Physiology|Neurology',
       'Mass Media|Indian Government', 'Physiology|Osteology',
       'Physiology|Cardiology', 'Zoology|Ecology',
       'Computer Technology|Cloud Computing', 'Physiology|Radiology',
       'Computer Technology|Operating Systems',
       'Biotechnology|Molecular Biology',
       'Physiology|Gastroenterology|Cardiology', 'Philosophy|Logic',
       'Watercolours', 'Drawings|Watercolours', 'Mixed Media|Conceptual',
       'Drawings|Painting|Watercolours', 'Visual Arts', 'Conceptual',
       'Tapestry', 'Calligraphy',
       'Human Resources|Performance In Organization',
       'Computer Technology|Robotics|Data Science|Information Technology|Artificial Intelligence',
       'Philosophy|Public Philosophy', 'Digital Marketing',
       'Mass Media|Videography',
       'Drawings|Painting|Visual Arts|Artistic design|Watercolours|Acrylics',
       'Biotechnology|Plant Biotechnology',
       'Sports Coaching|Sports Event',
       'Political Science|Government and Politics',
       'Geography|Physical Geography', 'Computer Technology|Data Science',
       'Computer Technology|Machine Learning', 'Graphic Design',
       'Graphic Design|Visual Arts', 'Education',
       'Business|Business Organisation', 'Zoology|Environmental Biology',
       'Human Rights|Fundamental Rights',
       'Computer Technology|Design and Analysis of Algorithms',
       'Marketing|Marketing Management',
       'Accounting|Partnership Accounting|Corporate Accounting|Accounting Theory And Practices',
       'Legal Studies|Income Tax Laws',
       'Graphics|Articulation|Computer Creation',
       'Archeology|Human Prehistory',
       'Business|Start Ups|Entreperneurship|Business Strategies|Venture Capitalist|Business Planning',
       'Geography|Indian Geography',
       'E Commerce|Shopping Platform|Other Online Platforms|Digital India',
       'Business|Bio-entrepreneurship', 'Literature|Stories',
       'History|Indian History', 'ViDEO',
       'Management|Business Management', 'Visual Arts|Photography',
       'Social Work|Health Education', 'Social Work|Social Tech',
       'Social Work|Humanities', 'Photography|Visual Arts',
       'Accounting|Financial Accounting', 'Psycholgy|Social Psychology',
       'Photography|Conceptual', 'Physics|Instrumentation', 'Craft work',
       'Social Work|Social Interventions|Substance Abuse',
       'Economics|Indian Economy',
       'Social Work|Substance Abuse|Social Interventions|Humanities',
       'Social Work|Social Interventions|Substance Abuse|Health Education',
       'Social Work|Humanities|Social Interventions',
       'Finance|Financial Analysis', 'Architecture',
       'Photography|Architecture|Painting',
       'Computer Technology|Cloud Computing|Artificial Intelligence|Information Technology|Programming languages',
       'Computer Technology|Design and Analysis of Algorithms|Web designing|Database Management|Artificial Intelligence',
       'Literature|Movements in Literature',
       'Physics|Atomic Physics|Energy Physics|Quantum Mecahnics|Instrumentation',
       'Business|Business Strategies|Venture Capitalist',
       'Photography|Architecture|Illustration',
       'Photography|Architecture',
       'Human Rights|Fundamental Rights|Protection & Enforcement',
       'Environment Studies|Pollution|Environmental Biology',
       'Photography|Conceptual|Illustration',
       'Physics|Quantum Mecahnics|Industrial Instrumentation|Atomic Physics|Nuclear & Particle Physics|Energy Physics',
       'Biotechnology|Environmental Biotechnology',
       'Legal Studies|Alternate Dispute Resolution|International Treaties|International Agreement',
       'Marketing|Principles Of Marketing|Marketing Research Methadology|Marketing Management|International Marketing',
       'Sculptures', 'Psycholgy|Child Development',
       'Economics|Economic Policies|Break even Point|Foreign Economy',
       'Psycholgy|Psychological Growth',
       'Management|Business Management|Technology Mangement|Managerial Activity|Creative And Lateral Management',
       'Business',
       'Business|Business Strategies|Business Enviorment|New Venture Planning|Foreign Business|Business Organisation',
       'Marketing|Principles Of Marketing|International Marketing|Promotion And Distribution Decisions',
       'Social Work|NGO', 'Fine Arts|Painting',
       'Legal Studies|Legal System|Legal Tradition|Nationality Law|Government Law',
       'Business|Entreperneurship|Venture Capitalist|Business Enviorment|Start Ups|Business Planning|New Venture Planning',
       'Legal Studies|Company Law|Legal System|Banking Law',
       'Computer Technology|Web designing|Artificial Intelligence|Computer Application|Machine Learning|Frontend Development',
       'Music', 'Sculptures|Wood Crafts|Craft|Wood carving',
       'Fashion Design', 'Painting|Craft|Artistic design',
       '2D Composition|Watercolours|Painting',
       'Painting|Watercolours|2D Composition',
       'Visual Arts|Craft|Conceptual',
       'Painting|Visual Arts|Craft|Conceptual',
       'Painting|Craft|Mixed Media|2D Composition',
       'Visual Arts|Craft|Mixed Media|Conceptual|Mosaic painting',
       'Craft|Drawings|Conceptual|2D Composition',
       'Craft|Mixed Media|Conceptual|Mosaic painting|2D Composition',
       'Video',
       'Fashion Desigining|Fashion Illustration|Pattern Cutting|Fashion Communication',
       'Biotechnology|Animal Biotechnology',
       'Fashion Desigining|Pattern & Culture|Fashion Trends|Fashion Portfoilio',
       'Sketch Video',
       'Fashion Desigining|Pattern & Culture|Fashion Textile|Fashion Trends',
       'Test', 'Professionalism', 'Art', 'Science;Technology',
       'Art; Science',
       'Fashion Design|Illustration|Watercolours|Drawings',
       'Drawings|Fashion Design|Illustration|Watercolours',
       'Fashion Design|Illustration|Watercolours',
       'Drawings|Fashion Design|Mixed Media|Conceptual|Illustration|Pen and ink|Watercolours',
       'Fashion Design|Illustration|Conceptual|Watercolours|Pen and ink',
       'Artistic design|Logo Design|Graphic|Illustration',
       'Visual Arts|Graphic Design|Artistic design|Graphic|Illustration',
       'Learning', 'Photography|Architecture|Visual Arts|Graphic Design',
       'Photography|Architecture|Visual Arts|Graphic Design|Artistic design|Graphic|Logo Design',
       'Visual Arts|Graphic Design|2D Composition|Logo Design',
       'Artistic design',
       'Literature|Stories|Fictions|Movements in Literature',
       'Technology',
       'Computer Technology|Computation|Computer Application|Cloud Computing',
       'Visual Arts|Calligraphy|Pen and ink',
       'Mixed Media|Calligraphy|Pen and ink', 'Typography|Pen and ink',
       'Typography|Calligraphy|Pen and ink',
       'Calligraphy|Typography|Pen and ink', 'Calligraphy|Pen and ink',
       'Mass Media|Media And Society', 'Science; Technology'],
      dtype=object)

**As we can see the categories conatin multiple categoris we will add more rows to the posts_df by splitting the categories and making one category for each row**

In [59]:
categories = []
for i in posts_df['category']:
  for j in list(i.split("|")):
    if j not in categories:
      categories.append(j) 
print(categories)

['Plant Biotechnology', 'Artificial Intelligence', 'Machine Learning', 'Information Technology', 'Operating Systems', 'Drawings', 'Competition Laws', 'Eco System', 'Economic Policies', 'Graphic', 'Graphic Design', 'Painting', 'Pen and ink', 'Computer Technology', 'Visual Arts', 'Illustration', 'Calligraphy', 'Photography', 'Empowerment', 'project', 'Video editing', 'Inorganic Chemistry', 'Programming languages', 'Conceptual', 'HR Management', 'Human Resources', 'Mass Media', 'International Relations', 'Sculptures', 'Artistic design', 'Fashion Design', 'Ceramics', 'Craft', 'Mathematics', 'Linear Algebra', 'Electronics & electrical Technology', 'Electrical Machines', 'Auditing', 'Internal Audit', 'E Commerce', 'E Transactions', 'Computation', 'Internal Financial Control', 'Taxation', 'Custom Laws', 'Audit Evidence', 'GST', 'Direct Tax', 'Secratarial Audit', 'Banking', 'Banking Companies', 'Banking Technology', 'Audit Remark', 'Cost Audit', 'Statuary Audit', 'Legal Studies', 'Legal System', 'Sports Coaching', 'Sports Law', 'Economics', 'Economics Sociology', 'Revenue Concept', 'Human Rights', 'Rights and Duties', 'Sociology', 'Sociology of Religion', 'Sociology in India', 'Political Science', 'International Politics', 'Colonialism In India', 'Labor Law', 'Design and Analysis of Algorithms', 'Computer Application', 'Graphics', 'Computer Creation', 'Other Online Platforms', 'Drawing', 'Shopping Platform', 'Hardware', 'Business', 'Business Skills', 'Mobile Applications', 'Communication', 'Basics of Communiaction', 'Prints', 'Marketing', 'Advertising', 'Political Thought', 'Accounting', 'Fundamental Of Accounting', 'Mixed Media', 'Management', 'Team Mangememnt', 'Corporate Social Responsibilities', 'Philosophy', 'Applied Ethics', 'Performance In Organization', 'Organizational Behaviour', 'Fashion Desigining', 'Fashion Textile', 'Fashion Manufacturing', 'Fashion Techniques', 'Garment Production', 'Garment Technology', 'Promotion And Distribution Decisions', 'Biotechnology', 'Genetic Engineering', 'Physiology', 'Neurology', 'Indian Government', 'Osteology', 'Cardiology', 'Zoology', 'Ecology', 'Cloud Computing', 'Radiology', 'Molecular Biology', 'Gastroenterology', 'Logic', 'Watercolours', 'Tapestry', 'Robotics', 'Data Science', 'Public Philosophy', 'Digital Marketing', 'Videography', 'Acrylics', 'Sports Event', 'Government and Politics', 'Geography', 'Physical Geography', 'Education', 'Business Organisation', 'Environmental Biology', 'Fundamental Rights', 'Marketing Management', 'Partnership Accounting', 'Corporate Accounting', 'Accounting Theory And Practices', 'Income Tax Laws', 'Articulation', 'Archeology', 'Human Prehistory', 'Start Ups', 'Entreperneurship', 'Business Strategies', 'Venture Capitalist', 'Business Planning', 'Indian Geography', 'Digital India', 'Bio-entrepreneurship', 'Literature', 'Stories', 'History', 'Indian History', 'ViDEO', 'Business Management', 'Social Work', 'Health Education', 'Social Tech', 'Humanities', 'Financial Accounting', 'Psycholgy', 'Social Psychology', 'Physics', 'Instrumentation', 'Craft work', 'Social Interventions', 'Substance Abuse', 'Indian Economy', 'Finance', 'Financial Analysis', 'Architecture', 'Web designing', 'Database Management', 'Movements in Literature', 'Atomic Physics', 'Energy Physics', 'Quantum Mecahnics', 'Protection & Enforcement', 'Environment Studies', 'Pollution', 'Industrial Instrumentation', 'Nuclear & Particle Physics', 'Environmental Biotechnology', 'Alternate Dispute Resolution', 'International Treaties', 'International Agreement', 'Principles Of Marketing', 'Marketing Research Methadology', 'International Marketing', 'Child Development', 'Break even Point', 'Foreign Economy', 'Psychological Growth', 'Technology Mangement', 'Managerial Activity', 'Creative And Lateral Management', 'Business Enviorment', 'New Venture Planning', 'Foreign Business', 'NGO', 'Fine Arts', 'Legal Tradition', 'Nationality Law', 'Government Law', 'Company Law', 'Banking Law', 'Frontend Development', 'Music', 'Wood Crafts', 'Wood carving', '2D Composition', 'Mosaic painting', 'Video', 'Fashion Illustration', 'Pattern Cutting', 'Fashion Communication', 'Animal Biotechnology', 'Pattern & Culture', 'Fashion Trends', 'Fashion Portfoilio', 'Sketch Video', 'Test', 'Professionalism', 'Art', 'Science;Technology', 'Art; Science', 'Logo Design', 'Learning', 'Fictions', 'Technology', 'Typography', 'Media And Society', 'Science; Technology']

##MERGING OF THE DATAFRAMES